.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white
.bg2
  background-color: #CBFDE8
.bg3
  background-color: #05339E
.tamimg
  width: 93px
.aqw
  left: 50%!important
.aqw2
  right: 40%!important
.bgc
  background-color: #E5FFF4
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #EECF52
.bga
  background-color: #F4FFFA
.bac2
  background-color: #F6F6F6
.imgtam
  width: 20%!important
  top: 50px!important
.waq
  width: 86px
.bgaq1
  background-color: #1A1A52
.color1
  color: #1A1A52!important
.color2
  background-color: #DEE4F0!important